absl-py==2.1.0
accelerate==1.3.0
aiofiles==23.2.1
aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiosignal==1.3.2
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.8.0
async-timeout==5.0.1
attrs==24.3.0
beautifulsoup4==4.12.3
blinker==1.9.0
certifi==2024.12.14
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
comtypes==1.4.9
contourpy==1.3.0
cycler==0.12.1
datasets==3.3.0
dill==0.3.8
dlib @ file:///C:/STRING%20ART%20JS/images/dlib_compiled-19.22/dlib_compiled-19.22/dlib-19.22.99-cp39-cp39-win_amd64.whl#sha256=c73bdd0c215829109cd36936a855e2af84e7f8cf12168dbe4e08c93e1f3f1274
docutils==0.21.2
exceptiongroup==1.2.2
fastapi==0.115.8
ffmpy==0.5.0
filelock==3.17.0
filetype==1.2.0
Flask==3.1.0
Flask-Cors==5.0.0
flatbuffers==24.12.23
fonttools==4.55.3
fpdf==1.7.2
frozenlist==1.5.0
fsspec==2024.12.0
gradio==4.44.1
gradio_client==1.3.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
huggingface-hub==0.28.1
idna==3.10
importlib_metadata==8.5.0
importlib_resources==6.5.2
itsdangerous==2.2.0
jax==0.4.30
jaxlib==0.4.30
Jinja2==3.1.5
joblib==1.4.2
Kivy==2.3.1
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
Kivy-Garden==0.1.5
kivy_deps.sdl2==0.8.0
kiwisolver==1.4.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.4
mdurl==0.1.2
mediapipe==0.10.20
ml_dtypes==0.5.1
MouseInfo==0.1.3
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.16
networkx==3.2.1
numpy==1.26.4
ollama==0.4.7
omegaconf==2.3.0
opencv-contrib-python==4.11.0.86
opt_einsum==3.4.0
orjson==3.10.15
packaging==24.2
pandas==2.2.3
pillow==10.4.0
propcache==0.2.1
protobuf==4.25.5
psutil==7.0.0
pyarrow==19.0.0
PyAudio @ file:///C:/STRING%20ART%20JS/images/PyAudio-0.2.11-cp39-cp39-win_amd64.whl#sha256=d83958e47e7986a6faab46baa9f86dd64e5171c3302b8f073c28b7984926ec9c
PyAutoGUI==0.9.54
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pydub==0.25.1
PyGetWindow==0.0.9
Pygments==2.19.1
PyMsgBox==1.0.9
pyparsing==3.2.1
pyperclip==1.9.0
pypiwin32==223
PyRect==0.2.0
PyScreeze==1.0.1
python-dateutil==2.9.0.post0
python-multipart==0.0.20
pyttsx3==2.98
pytweening==1.2.0
pytz==2025.1
pywhatkit==5.4
pywin32==308
PyYAML==6.0.2
regex==2024.11.6
reportlab==4.3.0
requests==2.32.3
rich==13.9.4
ruff==0.9.6
sacremoses==0.1.1
safetensors==0.5.2
scipy==1.13.1
semantic-version==2.10.0
sentencepiece==0.2.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
sounddevice==0.5.1
soupsieve==2.6
SpeechRecognition==3.14.0
starlette==0.45.3
sympy==1.13.1
tokenizers==0.21.0
tomlkit==0.12.0
torch==2.6.0
tqdm==4.67.1
transformers==4.48.3
typer==0.15.1
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
uvicorn==0.34.0
websockets==12.0
Werkzeug==3.1.3
wikipedia==1.4.0
Wikipedia-API==0.8.1
xxhash==3.5.0
yarl==1.18.3
zipp==3.21.0
